<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Lunch Money</title>
</head>

<body>
    <div>
        <div>
            <h1>Members</h1>
            <div>
                <label for="">Title</label>
                <input type="text" class="member-checkbox" id="title" value="Tiền ăn trưa">
            </div>
            <div>
                <label for="">Loại bill</label>
                <select name="type" id="moneyType">
                    <option value="0">Ăn trưa</option>
                    <option value="1">Uống nước</option>
                </select>
            </div>
            <div>
                <label for="">Total</label>
                <input type="number" id="total" value="160000">
                <button id="share-money">Share Money</button>
            </div>
            <div>
                <div class="group-item">
                    <input type="checkbox" class="group-checkbox">
                    <input type="text" readonly class="group-name" value="vuongnv">
                    <input type="number" class="group-amount" value="0">
                </div>
                <div class="group-item">
                    <input type="checkbox" class="group-checkbox">
                    <input type="text" readonly class="group-name" value="ngocnd">
                    <input type="number" class="group-amount" value="0">
                </div>
                <div class="group-item">
                    <input type="checkbox" class="group-checkbox">
                    <input type="text" readonly class="group-name" value="longng">
                    <input type="number" class="group-amount" value="0">
                </div>
                <div class="group-item">
                    <input type="checkbox" class="group-checkbox">
                    <input type="text" readonly class="group-name" value="hunghoang">
                    <input type="number" class="group-amount" value="0">
                </div>
                <div class="group-item">
                    <input type="checkbox" class="group-checkbox">
                    <input type="text" readonly class="group-name" value="dungnt">
                    <input type="number" class="group-amount" value="0">
                </div>
                <div class="group-item">
                    <input type="checkbox" class="group-checkbox">
                    <input type="text" readonly class="group-name" value="tule">
                    <input type="number" class="group-amount" value="0">
                </div>
            </div>
            <div>
                <select name="month" id="monthSelect">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    <option value=11>11</option>
                    <option value=12>12</option>
                </select>
            </div>
        </div>
        <div>
            <button id="submit">Send</button>
        </div>
    </div>
    <div>
        <a href="/payment">Go to Payment page</a>
    </div>
</body>
<script>
    //const baseUrl = 'http://64.44.115.238:3000'
    const baseUrl = 'http://localhost:3000'
    $(document).ready(function () {
        $('#moneyType').change((val) => {
            const value = val.currentTarget.value;
            console.log('val', val)
            if (value == '0') {
                $('#title').val('Tiền ăn trưa')
            } else {
                $('#title').val('Tiền Cafe')
            }
        })
        $('#monthSelect').val(new Date().getMonth() + 1)
        const getResult = () => {
            const result = [];
            const month = parseInt($('#monthSelect').val());
            const moneyType = $('#moneyType').val();
            $('.group-item').each(function () {
                const $item = $(this);
                const isChecked = $item.find('.group-checkbox').is(':checked');

                if (isChecked) {
                    const user_name = $item.find('.group-name').val();
                    const amount = parseInt($item.find('.group-amount').val());

                    result.push({ user_name, amount, type: moneyType, month });
                }
            })
            return result;
        }
        $('#share-money').click(() => {
            const total = parseInt($('#total').val());
            const membersChecked = getResult();

            if (!membersChecked?.length) { return }

            const moneyUser = Math.ceil(total / membersChecked.length)
            console.log('membersChecked', membersChecked)
            membersChecked.forEach(({ user_name, amount }) => {
                console.log('name amount', name, amount)
                $('.group-item').each(function () {
                    const $item = $(this);
                    const isChecked = $item.find('.group-checkbox').is(':checked');
                    const groupName = $item.find('.group-name').val();

                    if (isChecked && groupName === user_name) {
                        $item.find('.group-amount').val(moneyUser);
                    }
                });
            });
        })
        $('#submit').click(() => {
            console.log('submit')
            const result = getResult();
            console.log('result', result)
            const title = $('#title').val();
            const total = $('#total').val();
            const data = {
                title,
                total,
                members: result,
                showQr: true,
            }
            const url = `${baseUrl}/notify-telegram`;

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (res) {
                    alert('success')
                }
            });
        })
    })
</script>

</html>